<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
    <title>Error</title>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Error</h3>
                    <img src="/images/erreur.png" alt="Error Image" class="img-fluid">
                    <p class="text-center">An error occurred. Please try again later.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="path/to/your/scripts.js"></script>
</body>
</html>
